/* Global variables */
:root {
    --primary-color: #6e8efb;
    --secondary-color: #a777e3;
    --color-primary-text: #1a1a1a;
    --color-secondary-text: #666;
    --color-primary-bg: #e6e6e6;
    --color-secondary-bg: #eaeaea;
    --color-text-selected: #fff;
    --color-bg-selected: #a777e3;

    --font-primary: 'Helvetica Neue', Arial, sans-serif;
    --font-secondary: 'Segoe UI', Arial, sans-serif;

    --spacing: 1.4;

    --radius: 0.5rem;

    --transition-fast: .2s;
    --transition-medium: .3s;
    --transition-slow: .5s;
    --transition-timing-function-default: ease;
}

[data-theme='dark'] {
    --color-primary-text: #fff;
    --color-secondary-text: #eaeaea;
    --color-primary-bg: #1a1a1a;
    --color-secondary-bg: #666;
}


/* Reset and general styles */
@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

/* 
@media (prefers-reduced-motion: reduce) {
    * {
        -webkit-transition: none !important;
        transition: none !important;
        -webkit-animation: none !important;
        animation: none !important;
    }
}
 */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

::selection {
    color: var(--color-text-selected);
    background-color: var(--color-bg-selected);
}

::-moz-selection {
    color: var(--color-text-selected);
    background-color: var(--color-bg-selected);
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 1rem;
    background: var(--color-primary-bg);
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: var(--color-primary-text);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-text);
}

::-webkit-scrollbar-thumb:active {
    background: var(--color-primary-text);
}

::-webkit-scrollbar-corner {
    background: var(--color-primary-bg);
}

body {
    min-height: 100vh;
    font-family: var(--font-primary);
    font-size: 100%;
    line-height: var(--spacing);
    color: var(--color-primary-text);
    background-color: var(--color-primary-bg);
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
iframe,
figure {
    display: block;
    width: 100%;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
}

a {
    font-size: inherit;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
    font-size: 1em;
    font-style: inherit;
    font-weight: inherit;
    color: inherit;
    text-decoration: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

form,
input,
textarea,
select,
button,
label {
    display: block;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

table,
tr,
td {
    border-collapse: collapse;
    border-spacing: 0;
}

svg {
    display: block;
    width: 100%;
    fill: currentColor;
}


/*---Styles----*/
body {
    display: flex;
    padding: 1.25rem;
    justify-content: center;
    align-items: center;
}

/* Container */
.container {
    width: 100%;
    max-width: 1000px;
    padding: 30px;
    border-radius: var(--radius);
    color: var(--color-primary-text);
    text-align: center;
    background-color: var(--color-secondary-bg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Header */
header {
    margin-bottom: 30px;
}

header h1 {
    margin-top: -2rem;
    margin-bottom: 10px;
    font-size: 2.5em;
    font-weight: bold;
    color: var(--primary-color);
}

header p {
    margin-bottom: 20px;
    font-size: 1.1rem;
}

.editor-container {
    margin-bottom: 20px;
}

.counts {
    display: flex;
    margin-top: 10px;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

textarea {
    width: 100%;
    height: 300px;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 1.1rem;
    color: var(--color-primary-text);
    background-color: var(--color-primary-bg);
    outline: none;
    resize: none;
    transition: border-color 0.3s, background-color 0.3s;
}

textarea:focus {
    border-color: var(--primary-color);
}

/* Estilos para el div editable */
.editable {
    overflow-y: auto;
    width: 100%;
    height: 300px;
    margin-bottom: 1rem;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 1.1rem;
    color: var(--color-primary-text);
    text-align: justify;
    white-space: pre-wrap;
    background-color: var(--color-primary-bg);
    outline: none;
    resize: none;
    transition: border-color 0.3s, background-color 0.3s;
    overflow-wrap: break-word;
}

b,
strong {
    font-weight: bold;
}

/* Estilos para resaltar palabras no formales */
.highlight {
    font-weight: bold;
    color: rgb(255, 85, 85);
    background-color: yellow;
}

/* Enlaces hacia palabras informales */
.feedback a.word-link {
    padding-bottom: 2px;
    font-weight: bold;
    color: var(--secondary-color);
    transition: transform 0.3s ease;
}

.feedback a.word-link:hover {
    text-decoration: underline;
    transform: scale(1.05);
}

.explanation {
    margin: 5px 0;
    padding: 10px;
}

.btn {
    padding: .6rem 1.2rem;
    border-radius: var(--radius);
    color: #fff;
    cursor: pointer;
}

/* Review Button */
#btn-review {
    margin: 0 auto;
    font-size: 1.2em;
    background-color: var(--primary-color);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#btn-review:hover {
    background-color: #005bb5;
    transform: translateY(-2px);
}

#btn-review span {
    font-size: 0.8em;
}


/*Switch styles*/
.switch {
    position: relative;
    left: 50%;
    display: inline-block;
    width: 60px;
    height: 34px;
    transform: translateX(-50%)
}

.switch input {
    width: 0;
    height: 0;
    opacity: 0;
}

.slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 34px;
    background-color: var(--color-primary-bg);
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider::before {
    position: absolute;
    bottom: 4px;
    left: 4px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: var(--primary-color);
    content: '';
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/*Slider icons styles*/
.icon {
    position: absolute;
    top: 50%;
    font-size: 1em;
    opacity: 0;
    transition: opacity 0.4s;
    transform: translate(-50%, -50%);
}

.sun-icon {
    right: 0;
}

.moon-icon {
    left: 18px;
}

[data-theme='light'] .sun-icon {
    opacity: 1;
}

[data-theme='dark'] .moon-icon {
    opacity: 1;
}

.feedback {
    display: flex;
    margin-top: 20px;
    padding: 10px;
    border-radius: var(--radius);
    font-size: 1.1rem;
    flex-direction: column;
    align-items: center;
}

.feedback.hidden {
    display: none;
}

.feedback.success {
    border: 1px solid rgb(0, 255, 0);
    color: rgb(0, 255, 0);
}

.feedback.error {
    border: 1px solid red;
    color: red;
}

.feedback.warning {
    border: 1px solid rgb(255, 208, 0);
    color: rgb(255, 208, 0);
}

.feedback i {
    margin-right: 10px;
}

.repeated-words-section {
    margin: 1rem;
    padding: 0.5rem;
    border-bottom: 5px solid #ffa500;
    border-left: 5px solid #ffa500;
    border-radius: var(--radius);
}

.repeated-words-list {
    display: flex;
    margin-top: 0.5rem;
    flex-wrap: wrap;
}

.repeated-words-paragraph {
    margin: 1rem 0;
}

.repeated-words-paragraph h4 {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.repeated-word-items {
    margin-bottom: 10px;
    padding-left: 20px;
    list-style-type: none;
}

.repeated-word {
    margin-bottom: 5px;
}

.word-highlight {
    font-weight: bold;
    color: var(--secondary-color);
}

.word-count {
    font-style: italic;
    color: var(--primary-color);
}


/* Estilo general del checkbox */
.checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
}

input[type="checkbox"] {
    display: none; 
}

input[type="checkbox"] + label::before {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 2px solid var(--color-primary-text);
    border-radius: 5px;
    vertical-align: middle;
    cursor: pointer;
    content: '';
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

input[type="checkbox"]:checked + label::before {
    background-color: var(--primary-color);
}

input[type="checkbox"] + label::before {
    position: relative;
    content: '';
}

input[type="checkbox"]:checked + label::before::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    background-color: #fff;
    content: '';
    transition: transform 0.3s ease;
    transform: translate(-50%, -50%) scale(1);
}

input[type="checkbox"] + label::before::after {
    transform: scale(0);
}

input[type="checkbox"]:checked + label::before::after {
    transform: scale(1);
}

.checkbox-wrapper label {
    display: flex;
    font-size: 1em;
    cursor: pointer;
    align-items: center;
}

#version {
    position: relative;
    bottom: 0;
    margin-top: 2rem;
    font-size: 1em;
    font-weight: 600;
    color: #888;
    text-align: center;
}


/* Responsive Design */
@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    textarea {
        height: 200px;
    }
}