@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global variables */
:root {
    --primary-color: #6e8efb;
    --secondary-color: #a777e3;
    --color-primary-text: #1a1a1a;
    --color-secondary-text: #666;
    --color-primary-bg: #e1e1e1;
    --color-secondary-bg: #eaeaea;
    --color-text-selected: #fff;
    --color-bg-selected: #a777e3;
    --informal-word-color: rgba(255, 165, 0, 0.5);
    --connective-color: rgb(0, 170, 255);
    --repeated-word-color: rgb(153, 0, 255);
    --error-format-color: rgba(255, 0, 0, 0.3);
    --non-third-person-color: rgba(0, 255, 0, 0.3);

    --font-primary: 'Poppins', 'Helvetica Neue', Arial, sans-serif;
    --font-secondary: 'Segoe UI', Arial, sans-serif;

    --spacing: 1.4;

    --radius: 0.5rem;

    --transition-fast: .2s;
    --transition-medium: .3s;
    --transition-slow: .5s;
    --transition-timing-function-default: ease;
}

[data-theme='dark'] {
    --color-primary-text: #fff;
    --color-secondary-text: #eaeaea;
    --color-primary-bg: #1a1a1a;
    --color-secondary-bg: #5a5959;
}


/* Reset and general styles */
@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

/* 
@media (prefers-reduced-motion: reduce) {
    * {
        -webkit-transition: none !important;
        transition: none !important;
        -webkit-animation: none !important;
        animation: none !important;
    }
}
 */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

::selection {
    color: var(--color-text-selected);
    background-color: var(--color-bg-selected);
}

::-moz-selection {
    color: var(--color-text-selected);
    background-color: var(--color-bg-selected);
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 1rem;
    background: var(--color-primary-bg);
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

::-webkit-scrollbar-thumb:active {
    background: var(--primary-color);
}

::-webkit-scrollbar-corner {
    background: var(--color-primary-bg);
}

body {
    min-height: 100vh;
    font-family: var(--font-primary);
    font-size: 100%;
    line-height: var(--spacing);
    color: var(--color-primary-text);
    background-color: var(--color-primary-bg);
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
iframe,
figure {
    display: block;
    width: 100%;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
}

a {
    font-size: inherit;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
    font-size: 1em;
    font-style: inherit;
    font-weight: inherit;
    color: inherit;
    text-decoration: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

form,
input,
textarea,
select,
button,
label {
    display: block;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

table,
tr,
td {
    border-collapse: collapse;
    border-spacing: 0;
}

svg {
    display: block;
    width: 100%;
    fill: currentColor;
}

body {
    padding-bottom: 1.25rem;
}


/*---Styles----*/
nav {
    background-color: var(--color-secondary-bg);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    display: flex;
    height: 50px;
    border-bottom: 2px solid transparent;
    transition: border-bottom var(--transition-fast) var(--transition-timing-function-default);
    align-items: center;
}

nav li.active {
    height: 50px;
    border-bottom: 2px solid var(--primary-color);
}

nav a {
    display: flex;
    height: 100%;
    padding: 0 25px;
    transition: background-color .2s ease;
    align-items: center;
}

nav li a:hover {
    background-color: var(--primary-color);
}

nav li a:active {
    background-color: var(--primary-color);
}

nav ul:not(.sidebar) li:first-child {
    margin-right: auto;
    margin-left: 2rem;
}


.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    width: 250px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: flex-start;
    backdrop-filter: blur(10px);
    justify-content: flex-start;
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar li,
.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}


/* Container */
.container {
    width: 100%;
    max-width: 1000px;
    margin: 1rem auto;
    padding: 30px;
    border-radius: var(--radius);
    color: var(--color-primary-text);
    text-align: center;
    background-color: var(--color-secondary-bg);
    transition: color var(--transition-slow) var(--transition-timing-function-default);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

section {
    display: none;
}

section.active {
    display: block;
}

/* Header */
header {
    margin-bottom: 30px;
}

.logo {
    display: block;
    width: 75px;
    margin: 0 auto;
    border-radius: 50%;
}


header h1 {
    margin-top: -0.5rem;
    margin-bottom: 10px;
    font-size: 2.5em;
    font-weight: bold;
    color: var(--primary-color);
}

header p {
    margin-bottom: 20px;
    font-size: 1.1em;
}

.editor-container {
    margin-bottom: 20px;
}

.counts {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

textarea {
    width: 100%;
    height: 300px;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 1.1em;
    color: var(--color-primary-text);
    background-color: var(--color-primary-bg);
    outline: none;
    resize: none;
    transition: border-color var(--transition-medium) var(--transition-timing-function-default), background-color var(--transition-medium) var(--transition-timing-function-default);
}

textarea:focus {
    border-color: var(--primary-color);
}

/* Estilos para el div editable */
.editable {
    overflow-y: auto;
    width: 100%;
    height: 340px;
    margin-bottom: 1rem;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 1em;
    color: var(--color-primary-text);
    text-align: justify;
    white-space: pre-wrap;
    background-color: var(--color-primary-bg);
    outline: none;
    resize: none;
    transition: border-color 0.3s var(--transition-timing-function-default), background-color 0.3s var(--transition-timing-function-default);
    overflow-wrap: break-word;
}

b,
strong {
    font-weight: bold;
}

i,
em {
    font-style: italic;
}


/* Estilos para resaltar palabras */
.repeated-word-highlight {
    border-radius: 5%;
    background-color: var(--repeated-word-color);
}

.connective-highlight {
    border-radius: 5%;
    background-color: var(--connective-color);
}

.error-format-highlight {
    border-radius: 5%;
    background-color: var(--error-format-color);
}

.informal-highlight {
    border-radius: 5%;
    background-color: var(--informal-word-color);
    cursor: help;
}

.non-third-person-highlight {
    border-radius: 5%;
    background-color: var(--non-third-person-color);
}


/* Enlaces hacia palabras informales */
.feedback a.word-link {
    padding-bottom: 2px;
    font-weight: bold;
    color: var(--secondary-color);
    transition: transform 0.3s var(--transition-timing-function-default);
}

.feedback a.word-link:hover {
    text-decoration: underline;
    transform: scale(1.05);
}

.explanation {
    margin: 5px 0;
    padding: 10px;
}


/*Switch styles*/
.switch {
    position: relative;
    left: 50%;
    display: inline-block;
    width: 60px;
    height: 34px;
    transform: translateX(-50%);
}

.switch input {
    width: 0;
    height: 0;
    opacity: 0;
}

.slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 34px;
    background-color: var(--color-primary-bg);
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.slider::before {
    position: absolute;
    bottom: 4px;
    left: 4px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: var(--primary-color);
    content: '';
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/*Slider icons styles*/
.icon {
    position: absolute;
    top: 50%;
    font-size: 1em;
    opacity: 0;
    transition: opacity .4s var(--transition-timing-function-default);
    transform: translate(-50%, -50%);
}

.sun-icon {
    right: 0;
}

.moon-icon {
    left: 18px;
}

[data-theme='light'] .sun-icon {
    opacity: 1;
}

[data-theme='dark'] .moon-icon {
    opacity: 1;
}

.feedback {
    display: flex;
    margin-top: 20px;
    padding: 10px;
    border-radius: var(--radius);
    font-size: 1.1em;
    flex-direction: column;
    align-items: center;
}

.feedback.success {
    border: 1px solid rgb(0, 255, 0);
    color: rgb(0, 255, 0);
}

.feedback.error {
    border: 1px solid red;
    color: red;
}

.feedback.warning {
    border: 1px solid rgb(255, 208, 0);
    color: rgb(255, 208, 0);
}

.feedback i {
    margin-right: 10px;
}

.repeated-words-section {
    margin: 1rem;
    padding: 0.5rem;
    border-bottom: 5px solid #ffa500;
    border-left: 5px solid #ffa500;
    border-radius: var(--radius);
}

.repeated-words-list {
    display: flex;
    margin-top: 0.5rem;
    flex-wrap: wrap;
}

.repeated-words-paragraph {
    margin: 1rem 0;
}

.repeated-words-paragraph h4 {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.repeated-word-items {
    margin-bottom: 10px;
    padding-left: 20px;
    list-style-type: none;
}

.repeated-word {
    margin-bottom: 5px;
}

.word-highlight {
    font-weight: bold;
    color: var(--secondary-color);
    text-transform: capitalize;
}

.word-count {
    font-style: italic;
    color: var(--primary-color);
}


/* Estilos para los conectivos recomendados */
.connector-category {
    margin-bottom: 1.5rem;
    padding: 20px;
    border: 1px solid var(--color-primary-text);
    border-radius: 8px;
    background-color: var(--color-primary-bg);
    transition: box-shadow 0.3s var(--transition-timing-function-default);
}

.connector-category:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.connector-category h3 {
    display: flex;
    margin-bottom: 1rem;
    font-size: 1.5em;
    font-weight: 500;
    color: var(--primary-color);
    align-items: center;
}

.connector-category h3 i {
    margin-right: 10px;
}

.connector-category li {
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.connector-category li div {
    margin: 0.2rem 0;
}

.connector-category li span {
    font-size: 1.1em;
    font-weight: 500;
}

.example {
    overflow: hidden;
    max-height: 0;
    margin-top: 10px;
    padding: 10px;
    border-left: 3px solid var(--primary-color);
    border-radius: 5px;
    font-style: italic;
    color: #666;
    background-color: #f9f9f9;
    opacity: 0;
    transition: opacity 0.5s var(--transition-timing-function-default), max-height 0.5s var(--transition-timing-function-default);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.example em {
    color: var(--secondary-color);
}

.example.show {
    max-height: 200px;
    opacity: 1;
}

.show-example {
    padding: 6px 12px;
    border-radius: 5px;
    font-weight: 500;
    background-color: var(--secondary-color);
    transition: background-color 0.3s var(--transition-timing-function-default);
}

.show-example:hover {
    background-color: #9d65e2;
}

.show-example:active {
    background-color: #9250e3;
}


/* Estilos para la sección de reglas de redacción */
#reglas,
#citas,
#conectivos,
#palabras {
    padding: 2rem;
    border-radius: var(--radius);
    background-color: var(--color-secondary-bg);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}



#reglas h2,
#citas h2,
#conectivos h2,
#sinonimos h2,
#palabras h2 {
    margin-bottom: 1.5rem;
    font-size: 2em;
    font-weight: bold;
    color: var(--primary-color);
}

#reglas li,
#citas li,
#palabras li {
    margin: 1rem 0;
    padding: 1rem;
    border-left: 0.25rem solid var(--primary-color);
    transition: background-color var(--transition-medium);
}

#reglas li:hover,
#citas li:hover,
#palabras li:hover {
    background-color: rgba(110, 142, 251, 0.1);
}

#reglas li strong,
#citas li strong,
#palabras li strong {
    color: var(--primary-color);
}

#palabras p {
    margin-bottom: 2rem;
}


/* Estilos para la sección de citas */
blockquote {
    margin: 10px 0;
    padding: 10px;
    border-left: 4px solid var(--primary-color);
    border-radius: var(--radius);
    color: #333;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.9);
}


/* Estilo general del checkbox */
.checkbox-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label::before {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 2px solid var(--color-primary-text);
    border-radius: 25%;
    vertical-align: middle;
    cursor: pointer;
    content: '';
    transition: background-color 0.3s var(--transition-timing-function-default), border-color 0.3s var(--transition-timing-function-default);
}

input[type="checkbox"]:checked+label::before {
    background-color: var(--primary-color);
}

input[type="checkbox"]+label::before {
    position: relative;
    content: '';
}

input[type="checkbox"]:checked+label::before::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    background-color: #fff;
    content: '';
    transition: transform 0.3s var(--transition-timing-function-default);
    transform: translate(-50%, -50%) scale(1);
}

input[type="checkbox"]+label::before::after {
    transform: scale(0);
}

input[type="checkbox"]:checked+label::before::after {
    transform: scale(1);
}

.checkbox-wrapper label {
    display: flex;
    font-size: 1em;
    cursor: pointer;
    align-items: center;
}

.color-box {
    width: 15px;
    height: 15px;
    margin-left: 0.2rem;
    border-radius: 50%;
}


/* Estilo general del grupo de botones */
.btn {
    padding: .6rem 1.2rem;
    border-radius: var(--radius);
    color: #fff;
    outline: none;
    cursor: pointer;
}

.button-group {
    display: flex;
    margin-top: 1.2rem;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
}

#btn-review {
    font-size: 1.2em;
    background-color: var(--primary-color);
    transition: background-color 0.3s var(--transition-timing-function-default), transform 0.2s var(--transition-timing-function-default);
}

#btn-review:hover {
    background-color: #1c80e4;
    transform: translateY(-2px);
}

#btn-upload {
    background-color: #4caf50;
    transition: background-color 0.3s var(--transition-timing-function-default), transform 0.2s var(--transition-timing-function-default);
}

#btn-upload:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

#btn-clear {
    padding: 0.2rem 0.5rem;
    background-color: #f44336;
    transition: background-color 0.3s var(--transition-timing-function-default), transform 0.2s var(--transition-timing-function-default);
}

#btn-clear:hover {
    background-color: #e53935;
    transform: translateY(-2px);
}

#btn-review span,
#btn-upload span,
#btn-clear span {
    font-size: 0.8em;
}

/* version styles */
#version {
    position: relative;
    bottom: 0;
    margin-top: 2rem;
    font-size: 1em;
    font-weight: 600;
    color: var(--primary-color);
    text-align: center;
}


/* Footer styles */
footer {
    margin-top: 1rem;
    padding: 0.5rem;
    padding-top: 1rem;
    font-size: 0.8em;
    text-align: center;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.highlight-autor {
    position: relative;
    font-weight: bold;
    cursor: default;
    transition: color 0.3s ease-in-out;
}

.highlight-autor::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #ff6b6b, #f4c430, #1dd1a1);
    content: '';
    transition: transform 0.3s ease-in-out;
    transform: scaleX(0);
    transform-origin: bottom right;
}

.highlight-autor:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.highlight-autor:hover {
    color: var(--primary-color);
}


.hidden {
    display: none;
}


/* Responsive Design */
@media (min-width: 769px) {
    .sidebar.active {
        display: none;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 90%;
        padding: 15px;
    }

    .hide-on-mobile {
        display: none;
    }

    .menu-button {
        display: block;
    }

    header h1 {
        font-size: 2em;
    }

    textarea,
    .editable {
        height: 200px;
    }

    .counts {
        flex-direction: column;
        gap: 0.5rem;
    }

    .connector-category h3 {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    .sidebar {
        width: 100%;
    }

    header h1 {
        font-size: 1.8em;
    }

    header p {
        font-size: 1em;
    }

    textarea,
    .editable {
        height: 150px;
    }

    .checkbox-wrapper {
        font-size: 0.9em;
    }

    #conectivos {
        padding: 0.5rem;
    }

    .recommended-connectors h2 {
        font-size: 1.3em;
    }

    .connector-category li {
        justify-content: center;
    }

    .connector-category li div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .counts {
        font-size: 0.9em;
    }

    .button-group {
        flex-wrap: wrap-reverse;
    }

    .example {
        padding: 0.2rem;
    }

    #reglas,
    #citas {
        padding: 1rem;
    }

    #reglas li,
    #citas li {
        padding: 0.5rem;
    }

    blockquote {
        font-size: 0.9em;
    }
}